* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

html {
  width: 100%; 
  height: 100%; 
  margin: 0;  
  padding: 0; 
  background: linear-gradient(#fff,#73D7FF); 
  background-repeat: no-repeat;  
  background-size: cover; 
}

body {
  display: flex; 
  justify-content: center; 
  width: 100vw; 
  height: 100vh; 
  margin: 0; 
  padding: 0;
}
img {
  width: 100px;
  height: 100px; 
  background-image: linear-gradient(#fff,#73D7FF);
  margin-top: 10px; 
  margin-bottom: 10px; 
}

span {
  color: #28AFB0; 
}

form {
  width: 600px;  
  padding: 25px; 
  display: flex; 
  flex-direction: column;
  align-items: center;
}

